body {
  font-family: 'Poppins', sans-serif;
  background-color: #fde1e1;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.page {
  display: none;
  padding: 60px 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.page.active {
  display: block;
}

button {
  background-color: #8a2b6b;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}

p {
  font-size: 22px;
  color: #ef476f;
  margin: 30px auto;
  max-width: 700px;
}

/* Decoración de flores arriba y abajo */
.decoracion {
  position: absolute;
  width: 80px;
  opacity: 0.2;
  z-index: 0;
  pointer-events: none;
}

.flor-top-izq {
  top: 10px;
  left: 15px;
}

.flor-top-der {
  top: 10px;
  right: 15px;
}

.flor-bottom-izq {
  bottom: 10px;
  left: 10px;
}

.flor-bottom-der {
  bottom: 10px;
  right: 10px;
  
}

.flor-top-centro { 
  top: 10px;    
  left: 50%; 
  transform: translateX(-50%); 
  
}

.flor-bottom-centro { 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  
}

/* Responsive */
@media (max-width: 768px) {
  .decoracion {
    width: 50px;
  }
}
